mixin featureone(header, desc, content)
  section.feature-1
    h2= header
    .container
      .row
        h4.col-sm-10.col-sm-offset-1.text-center= desc
        each val in content
          .col-sm-3.text-center
            i(class="fa fa-#{val.icon} fa-#{val.size}")
            h4= val.title
            p= val.p  
